@font-face {
  
  font-family: 'roboto';
  src: url('#{$font-path}/Roboto-Regular.ttf'),
       url('#{$font-path}/Roboto-Bold.ttf'),
       url('#{$font-path}/Roboto-Light.ttf');
  font-style: normal;
  font-weight: normal;
}