.flex-center {

    display: flex;
    align-items: center;
    justify-content: center;
}

.padding-ul {

    li {

        padding: 0 15px;
    }
    li a:last-child {
        padding-right: 0;
    }
}


.display__none {

    display: none;

    @media screen and (min-width: 768px) {

        display: inline;
    }
}

a {
    color: unset;
    transition: 0.15s ease-in-out;

    &:hover{

        color: $primary-color;
    }
}
